extends ./layout/index


block contenido
    main.container.mt-5
        .row
            .col-md-5

                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")

            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Nunc id ex eget nibh finibus dignissim vitae id dui. Proin ut neque ac nulla semper bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non lectus tortor. Cras eget elementum lectus, in viverra velit. Aenean lectus diam, finibus a rutrum in, vehicula ac nisl. Praesent eget ex est. Proin pretium iaculis enim vel posuere. Proin viverra libero libero, nec interdum tellus dapibus a.

                p Integer lacinia vel enim sed vehicula. Nunc ut ligula non augue mattis mattis ac pulvinar mi. Duis finibus lacus vitae tempor interdum. Pellentesque sollicitudin faucibus diam, at viverra dolor viverra ut. Maecenas vitae mi ex. Nulla erat nibh, mattis non orci ac, lacinia suscipit mi.  
                
                p Aliquam eu est ultrices, commodo velit sed, viverra ex. Nunc velit magna, vehicula sed enim vel, placerat sollicitudin mauris. Cras nec augue odio. Quisque interdum, quam ut pulvinar varius, justo eros efficitur leo, at vehicula ligula magna tincidunt leo. Nam libero ipsum, pellentesque sed massa eu, hendrerit commodo magna.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad icono", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p usto eros efficitur leo, at vehicula ligula magna tincidunt leo. Nam libero ipsum, pellentesque sed massa eu

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="seguridad icono", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p usto eros efficitur leo, at vehicula ligula magna tincidunt leo. Nam libero ipsum, pellentesque sed massa eu   


                .col-md-4
                    img(src="img/icono_precios.svg", alt="seguridad icono", class="img-fluid mb-4")
                    h2.mb-4  Mejores Precios
                    p usto eros efficitur leo, at vehicula ligula magna tincidunt leo. Nam libero ipsum, pellentesque sed massa eu    
